/**
 * vscode use extensions:
 *  rvest Prettier ESlint
 *  ms ESLint
 */
{
  "extends": ["prettier", "@redwoodjs/eslint-config"],
  "rules": {
    "brace-style": ["error", "stroustrup"],
    "prettier/prettier": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off",
    "indent": ["error", 2]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
